$bg-color = #21C187;
$text-white-color = white;

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
}

.nav-header {
  background-color: $bg-color;
  text-align: left;

  ul {
    list-style: none;

    li {
      display: inline;
      color: $text-white-color;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

}

